<div class="relative">
  <canvas id="canvas" class="  "></canvas>
  <div class="absolute bg-opacity-90 bg-blue-800 mt-10 top-0 left-0 border-[1px] rounded border-stone-200 h-[calc(100vh-80px)] mx-[5%] md:mx-[10%]  overflow-y-scroll">
    <div class="">
      <!-- @@@@@@@@@@@@@ navbar -->
      <nav class="">
        <div class="flex items-center bg-stone-200 px-6 md:px-16 py-6 justify-between">
          <button class="font-Display text-stone-900 text-4xl"><a href="">RR</a></button>
          <div class="flex items-center">
            <button>
              <i class="fa-solid fa-phone text-stone-900 text-2xl mr-8"></i>
            </button>
            <button>
              <i class="fa-solid fa-envelope text-stone-900 text-3xl"></i>
            </button>
          </div>
        </div>
      </nav>
      <!-- @@@@@@@@@@@@@ Hero Section -->
      <main class="my-40 mx-6 md:mx-16">
        <h1 class="text-5xl font-bold tracking-tighter">Rahul Ramagiri</h1>
        <h3 class="font-thin tracking-wide mb-3">Web Dev / Engineer </h3>
        <button class="hidden md:block border-[1px] border-stone-200 px-4 py-2 rounded">Contact Me</button>
      </main>
      <!-- @@@@@@@@@@@@@ About me -->
      <section class=" my-40 lg:flex mx-6 md:mx-16">
        <div class="border-[1px] border-stone-200 rounded-xl flex flex-col md:flex-row">
          <div class="px-6 my-10 ">
            <h3 class="text-2xl font-bold mb-4">Hi There !</h3>
            <p class="text-stone-300  leading-6 tracking-wide font-thin ">
              I'm Rahul holding over 3 years of experience in web development. Using MEAN stack I have created and worked on projects that are full fledged web application 
            </p>
            <p class="text-stone-300 mb-4 leading-6 tracking-wide font-thin ">
              I believe in 2 parallel lines learning and  Let's get to the milestones of innovation and digital transformation together!
            </p>
          </div>
          <img src="../images/potrait.jpg"
               alt="My Portrait"
               class="rounded-xl  w-80 h-80">
        </div>
      </section>
      <!-- @@@@@@@@@@@@@ Skills -->
      <section class="my-40 mx-6 md:mx-16">
        <h3 class="text-xl mb-4">Skills</h3>
        <div class="flex flex-col md:flex-row">
          <div class="border-[1px] border-stone-200 rounded-xl flex items-center max-w-80 overflow-hidden ">
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-angular text-4xl px-5"></i>
              <p class="text-[8px] mt-2">Angular</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-node-js text-4xl px-5"></i>
              <p class="text-[8px] mt-2">Node.Js</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-js text-4xl  px-5"></i>
              <p class="text-[8px] mt-2">JavaScript</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-html5 text-4xl px-5"></i>
              <p class="text-[8px] mt-2">HTML</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-css3 text-4xl px-5"></i>
              <p class="text-[8px] mt-2">CSS</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-aws text-4xl px-5"></i>
              <p class="text-[8px] mt-2">AWS</p>
            </div>
            <div class="flex flex-col items-center">
              <i class="fa-brands fa-docker text-4xl px-5"></i>
              <p class="text-[8px] mt-2">Docker</p>
            </div>
          </div>
          <div class="my-3 md:ml-28">
            <ul class="list-disc text-stone-300 font-thin">
              <li class="list-inside tracking-wide font-thin">Full Stack Development</li>
              <li class="list-inside tracking-wide font-thin">Cloud Infrastructure</li>
              <li class="list-inside tracking-wide font-thin">Creative Coding</li>
              <li class="list-inside tracking-wide font-thin">Web Design</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- @@@@@@@@@@@@@ footer -->
      <footer class="py-8 flex items-center justify-between bg-stone-200 px-6 md:px-16">
        <h3 class="font-Display text-stone-900 text-xl">Rahul Ramagiri.</h3>
        <div class="flex items-center">
          <i class="fa-brands fa-github text-stone-900 text-2xl mr-4"></i>
          <i class="fa-brands fa-linkedin text-stone-900 text-2xl mr-4"></i>
          <i class="fa-brands fa-whatsapp text-stone-900 mr-4 text-2xl"></i>
          <i class="fa-solid fa-phone text-stone-900 text-xl mr-4"></i>
          <i class="fa-solid fa-envelope text-stone-900 text-2xl mr-4"></i>
        </div>
      </footer>
    </div>
  </div>
</div>